:root {

  --cor-primaria: rgb(155, 165, 219);

  --cor-secundaria: black;

  --cor-detalhes: rgb(255, 138, 42);

  --cor-detalhes-fraca: rgb(255, 138, 42, 0.5);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body {
  margin: auto;
  width: 90%;
}

#root {
  background-color: var(--cor-primaria);
  height: max-content;
  min-height: 100%;
  overflow: hidden;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media ( prefers-reduced-motion : no-preference ) {

  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
